[submodule "thirdparty/oniguruma"]
	path = extern/oniguruma
	url = https://github.com/kkos/oniguruma.git
[submodule "extern/curl"]
	path = extern/curl
	url = https://github.com/curl/curl.git
[submodule "extern/libevent"]
	path = extern/libevent
	url = https://github.com/libevent/libevent.git
[submodule "extern/libevhtp"]
	path = extern/libevhtp
	url = https://github.com/criticalstack/libevhtp.git
[submodule "extern/openssl"]
	path = extern/openssl
	url = https://github.com/janbar/openssl-cmake.git
